[Unit]
Description=journal-upload-papertrail

[Service]
EnvironmentFile=-%h/.config/journal-upload-papertrail/env
ExecStart=/home/jirik/.local/bin/journal-upload-papertrail
Restart=on-failure

[Install]
WantedBy=default.target
